<main class="container">
  <%= link_to sanitize("&larr; Back to experience"), experience_path(@experience) %>

  <div class="header">
    <h1>New date</h1>
  </div>

  <%= turbo_frame_tag @entry_date do %>
    <%= render "form", experience: @experience, entry_date: @entry_date %>
  <% end %>
</main>
