<div class="description">
    <div class="description__content">
      <%= @description.content %>
    </div>
    <div class="description__actions">
      <%= link_to [:edit, @experience, @entry_date, @event, @description],
                  class: "btn btn--light" do %>
          <i class="bi bi-pencil-square"></i>
      <% end %>
      <%= button_to [@experience, @entry_date, @event, @description],
                     method: :delete,
                    form: { data: { turbo_confirm: "Are you sure?" } },
                     class: "btn btn--light" do %>
          <i class="bi bi-trash"></i>
       <% end %>
    </div>  
</div>



        