.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-s);
  justify-content: space-between;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);
  margin-left: var(--space-xxxxxl);
  margin-right: var(--space-xxxxxl);
  font-style: italic;

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }
}