<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    You haven't logged anything yet. Click the button below to record your first event!
  </p>

  <%= link_to "Click Here To Add Your First event",
              new_experience_path,
              class: "btn btn--primary",
              data: { turbo_frame: dom_id(Experience.new) } %>
</div>