<main class="home">
  <h1>Experinotes</h1>
  <p>Welcome, you can use this space to record your experiences!</p>

  <% if user_signed_in? %>
    <%= link_to "View experiences", experiences_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</main>
