<main class="home">
  <h1 class="home__title">Experinotes</h1>
  <br>
  <% if user_signed_in? %>
    <h3>Welcome back,&nbsp; <%= current_user.name %>!</h3>
  <% else %>
    <h3>Hello there, this is a space you can use to record any of your experiences!</h3>
  <% end %>
  <br>
  <br>
  <% if user_signed_in? %>
    <%= link_to "View experiences", experiences_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %> or <%= link_to "Sign up", new_user_registration_path, class: "btn btn--dark" %>
    
  <% end %>
</main>
