<%= turbo_frame_tag experience do %>
  <div class="experience">
    <%= link_to experience.name,
                experience_path(experience),
                data: { turbo_frame: "_top"} %>
    <div class="experience_actions">
      <%= button_to "Delete",
                    experience_path(experience),
                    method: :delete,
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  edit_experience_path(experience),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>