<main class="container">
  <%= link_to sanitize("&larr; Back to experience"), experience_path(@experience) %>

  <div class="header">
    <h1>Edit experience</h1>
  </div>

  <%= render "form", experience: @experience %>
</main>