<main class="container">
  <div class="header">
    <h1>Experiences</h1>
    <%= link_to "New Experience", new_experience_path, class: "btn btn--primary" %>
  </div>

  <%= render @experiences %>
</main>