<main class="container">
  <div class="header">
    <h1>Experinotes</h1>
    <%= link_to "New Experience",
                new_experience_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Experience.new) } %>
  </div>

  <%= turbo_frame_tag Experience.new %>
  
  <%= turbo_frame_tag "experiences" do %>
    <%= render @experiences %>
  <% end %>
</main>