<main class="container">
  <%= link_to sanitize("&larr; Back to experiences"), experiences_path %>

  <div class="header">
    <h1>New experience</h1>
  </div>

  <%= turbo_frame_tag @experience do %>
    <%= render "form", experience: @experience %>
  <% end %>
</main>