<main class="container">
  <%= link_to sanitize("&larr; Back to experiences"), experiences_path %>
  <div class="header">
    <h1>
      <%= @experience.name %>
    </h1>

    <%= link_to "New Date",
                new_experience_event_date_path(@experience),
                class: "btn btn--primary" %>
  </div>
  
  <%= render @event_dates, experience: @experience %>
</main>