.bi {
  // Cancel button
  &-x-square::before {
    color: rgb(0, 0, 0);
    font-size: 35px;
  }

  // Cancel button
  &-x-circle::before {
    color: rgb(0, 0, 0);
    font-size: 32.5px;
    padding-top: 4px;
    padding-left: 4px;
  }
  
  //  Form submit button
  &-check-circle-fill::before {
    color: rgb(105, 167, 12);
    font-size: 32.5px;
    border-radius: var(--border-radius);
  }
  
  // Destroy button
  &-trash::before {
    color: rgb(0, 0, 0);
    font-size: 30px;
  }

  // Edit button
  &-pencil-square::before {
    color: var(--color-primary);
    font-size: 30px;
  }
}