.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: var(--space-m);
  border: var(--border);
  border-style: dashed;
  border-radius: var(--border-radius);
  text-align: center;

  &__text {
    font-size: var(--font-size-xxl);
    color: var(--color-text-header);
    margin-bottom: var(--space-l);
    font-weight: bold;
  }

  &--only-child {
    display: none;

    &:only-child {
      display: revert;
    }
  }
}