.event-date {
  align-items: center;
  margin-top: var(--space-m);
  margin-bottom: var(--space-xxs);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-left: var(--space-xxxxxxl);
  margin-right: var(--space-xxxxxxl);
  padding: var(--space-xs);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-xs);
  }

  &__title {
    font-size: var(--font-size-xl);

    @include media(tabletAndUp) {
      font-size: var(--font-size-xxl);
    }
  }

  &__actions {
    display: flex;
    gap: var(--space-xs);
  }
}